/* STATIC */

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* HEADER */

header ul {
    list-style: none;
}

header ul li a {
    margin: 20px 2vw;
    text-decoration: none;
}

header ul li p {
    margin: 0;
}

header img {
    height: 7.5vh;
    margin: 0px 15px 0px 15px;
    border-radius: 25px;
}

.header-thumbnail {
    width: 65vw;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

#nav_list {
    position: absolute;
    z-index: 5;
    background-color: rgba(15,15,15,0.75);
    width: 100vw;
    height: 100vh;
}

/* SUBHEADER*/

.sticky {
    margin: 20px 25vw;
    padding: 20px 25px;
    background-color: rgb(50, 50, 50);
    border-radius: 25px;
}

.stat-container {
    display: grid;
}

/* GRID */
#grid {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
    padding: 50px;
    border-radius: 25px;
    min-height: 12.5vh;
    grid-gap: 2vw;
}

.grid-container, #grid {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.grid-child {
    margin: 1vh 0;
    padding: 1vw;
}

.grid-child img {
    min-height: 25vh;
    width: 90%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.grid-child p {
    margin: 10px 0px;
}

.upcoming-banner-full {
    padding: 15vh 5vw;
    height: 75vh;
    align-content: end;
    
}

.upcoming-banner-full h1 {
    margin: 25px 0px;
}

.upcoming-title {
    font-size: 7.5vw;
    margin: 0;
}

.upcoming-image {
    background-position: center center;
    background-size: cover;
}

.col {
    width: 100%;
    height: 100%;
}

/* GENERAL */

.profile {
    border-radius: 25px;
    width: 15vw;
    height: 15vw;
}

#banner {
    display: grid;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 50px 0px;
    grid-template-columns: repeat(1, 1fr);
}

#banner-semi {
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 50px 0px;
    grid-template-columns: repeat(1, 1fr);
}

#banner-info {
    background-position: center center;
    background-size: cover;
    padding: 10vh 5vw;
    margin: 0;
}

.banner-img {
    border-radius: 30px;
    width: 90vw;
    object-fit: fill;
}

.banner-div {
    padding: 30px 50px;
    text-align: center;
}

.banner-full {
    height: 80vh;
    padding: 15vh 7.5vw;
    background-position: center center;
    background-size: cover;
}

.footer-link-img {
    width: 3vw;
    height: 3vw;
}

#subtext {
    font-size: 3vw;
    color: #aaaaaa;
}

#small-icon {
    font-size: 24px;
    margin-right: 15px;
}

#data {
    margin: 25px;
    display: flex;
    align-items: center;
}

/* sflightx.com/vehicle ONLY */

.banner-stat {
    padding: 25px 30px;
    margin: 5vh 0px;
}

.banner-stat-container {
    width: 90vw;
    justify-content: space-around;
    text-align: center;
}

.banner-stat-child {
    padding: 10px 30px;
}

.banner-stat-child p {
    font-size: 5em;
    margin: 0;
}

.banner-overview-header {
    margin: 50px 5vw;
}

.banner-overview-header h5, .overview-header h1 {
    margin: 0px;
    font-size: 3em;
}

.banner-overview-img {
    width: 40vw;
}


/* sflightx.com/team ONLY */

#article-team-mod {
    display: grid;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 50px 0px;
    grid-template-columns: repeat(1, 1fr);
}

#article-team-div {
    padding: 20px 3vw;
    text-align: center;
}

.banner-card {
    align-content: center;
    padding: 50px 0px;
}

#tag {
    margin: 0;
    color: #aaaaaa;
}

#position {
    margin: 0;
}

/* sflightx.com/mission ONLY*/

.mission {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: calc(95vw-50px); 
    height: 100vh; 
    padding: 5vw;
}

.mission h1, .mission p {
    margin: 5px 0px;
}

.mission button:hover {
    background-color: rgb(255, 255, 255);
}

.mission button:hover h5 {
    color: black;
}

.detail-container {
    min-height: 50vh;
    margin: 50px 5vw;
}

.detail-container p {
    color: lightgray;
}


.sec-span {
    color: gray;
}

#bg-img {
    width: 100vw;
}

#banner-logo {
    width: 20vw;
}

/* MEDIA */

@media only screen and (max-width: 992px) {
    .footer-link-img {
        width: 5vw;
        height: 5vw;
    }
    #footer-link a {
        margin-left: 2vh;
    }
    header ul li {
        margin: 7.5vh 15vw;
        text-align: right;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    p {
        font-size: 0.9em;
    }

    #footer-link {
        display: flex;
    }

    #footer-link a {
        margin: 0px 2vw;
    }

    #article-team-mod {
        grid-template-columns: repeat(2, 1fr);
    }

    #banner-info {
        display: flex;
    }

    .banner-img {
        width: 40vw;
        object-fit: cover;
    }
    .banner-stat-container {
        display: flex;
    }
    .banner-div {
        text-align: left;
    }
    #nav_list {
        position: relative;
        background-color: rgba(15,15,15,0);
        width: auto;
        height: auto;
    }
    #menu {
        display: none;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #grid {
        grid-template-columns: repeat(2, 25fr);
    }
    #subtext {
        font-size: 1em;
        color: #aaaaaa;
    }
    #thumbnail {
        height: 100%;
    }
    #metadata {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    
}

@media only screen and (min-width: 2400px) {
    #article-team-mod {
        grid-template-columns: repeat(3, 1fr);
    }
}