#banner-info::before {
    animation-name: smooth-appear;
    animation-duration: 1s;
    position: relative;
    bottom: 0px;
}

@keyframes smooth-appear {
    from {
        bottom: -50px;
        opacity:0;
    }

    to{
      bottom: 0px;
      opacity:1;
    }
}