[content] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

[center] {
    display: flex;
    justify-content: center;
    align-items: center;
}

[center-text] {
    text-align: center;
}

@media screen and (min-width: 768px) {
    [desktop-gap] {
        padding: 5vh 10vw;
    }
}