/* FEATURE PART */
#feature {
    background-image: url('https://i.imgur.com/oTB7vt6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 100vh;
}

#feature-title {
    padding: 0px 50px;
    text-align: left; 
    color:#d3d3d3;
    max-height: 25vh;
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 100px;
}

#feature-subtitle {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0px 50px;
    text-align: left; 
    color:#d3d3d3;
    max-height: 25vh;
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 75px;
}

.stat-container {
    display: grid;
}

/* MISSIONS */

.mission {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: calc(95vw-50px); 
    height: 100vh; 
    padding: 5vw;
}

.mission h1, .mission p {
    margin: 5px 0px;
}

.mission button:hover {
    background-color: rgb(255, 255, 255);
}

.mission button:hover h5 {
    color: black;
}

.detail-container, .overview-header {
    margin: 50px 5vw;
}

.overview-header h5, .overview-header h1 {
    margin: 0px;
}

.sec-span {
    color: gray;
}

#bg-img {
    width: 100vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .stat-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .stat-container {
        grid-template-columns: repeat(2, 2fr);
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .stat-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .stat-container {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .stat-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* 4k devices (4k screens, 2400px and up) */
@media only screen and (min-width: 2400px) {
    .stat-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
