[indent~="top"] {
  padding-top: 16px;
}

[indent~="bottom"] {
  padding-bottom: 16px;
}

[indent~="left"] {
  padding-left: 16px;
}

[indent~="right"] {
  padding-right: 16px;
}

[indent~="horizontal"] {
  padding-left: 16px;
  padding-right: 16px;
}

[indent~="vertical"] {
  padding-top: 16px;
  padding-bottom: 16px;
}

[indent~="all"] {
  padding: 16px;
}