@font-face {
    font-family: 'Glacial';
    src: url('https://sflightx.com/resources/main/font/GlacialIndifference-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-symbols-rounded:hover {
    color: var(--md-sys-color-primary);
}

/* Apply Glacial font to all elements by default */
* {
    font-family: 'Glacial', sans-serif;
    color: var(--md-sys-color-on-background);
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    text-decoration: none;
    max-width: none;
}

body {
    margin: 0;
    padding: 0px;
    display: flex;
    overflow-x: hidden;
    background-color: var(--md-sys-color-background);
}

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin: auto;
    padding: 0px 48px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--md-sys-color-background);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    flex: 1;
    padding: 0px;
    margin: 24px;
    min-height: 60vh;
}

footer {
    width: 100%;
    padding: 8px;
    margin: 24px 0px;
    background-color: var(--md-sys-color-background);
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18rem;
    background-color: var(--md-sys-color-background);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 40;
}

p, h1, h2, h3, h4, h5, h6, a {
    padding: 16px 0px;
}

a {
    color: var(--md-sys-color-on-background);
}

/* Material Design 3 Typography */


.md-typescale-display-large {
    font-family: var(--md-typescale-display-large-font-family);
    font-weight: var(--md-typescale-display-large-font-weight);
    font-size: var(--md-typescale-display-large-font-size);
    line-height: var(--md-typescale-display-large-line-height);
    letter-spacing: var(--md-typescale-display-large-letter-spacing);
}

.md-typescale-display-medium {
    font-family: var(--md-typescale-display-medium-font-family);
    font-weight: var(--md-typescale-display-medium-font-weight);
    font-size: var(--md-typescale-display-medium-font-size);
    line-height: var(--md-typescale-display-medium-line-height);
    letter-spacing: var(--md-typescale-display-medium-letter-spacing);
}

.md-typescale-display-small {
    font-family: var(--md-typescale-display-small-font-family);
    font-weight: var(--md-typescale-display-small-font-weight);
    font-size: var(--md-typescale-display-small-font-size);
    line-height: var(--md-typescale-display-small-line-height);
    letter-spacing: var(--md-typescale-display-small-letter-spacing);
}

.md-typescale-headline-large {
    font-family: var(--md-typescale-headline-large-font-family);
    font-weight: var(--md-typescale-headline-large-font-weight);
    font-size: var(--md-typescale-headline-large-font-size);
    line-height: var(--md-typescale-headline-large-line-height);
    letter-spacing: var(--md-typescale-headline-large-letter-spacing);
}

.md-typescale-headline-medium {
    font-family: var(--md-typescale-headline-medium-font-family);
    font-weight: var(--md-typescale-headline-medium-font-weight);
    font-size: var(--md-typescale-headline-medium-font-size);
    line-height: var(--md-typescale-headline-medium-line-height);
    letter-spacing: var(--md-typescale-headline-medium-letter-spacing);
}

.md-typescale-headline-small {
    font-family: var(--md-typescale-headline-small-font-family);
    font-weight: var(--md-typescale-headline-small-font-weight);
    font-size: var(--md-typescale-headline-small-font-size);
    line-height: var(--md-typescale-headline-small-line-height);
    letter-spacing: var(--md-typescale-headline-small-letter-spacing);
}

.md-typescale-title-large {
    font-family: var(--md-typescale-title-large-font-family);
    font-weight: var(--md-typescale-title-large-font-weight);
    font-size: var(--md-typescale-title-large-font-size);
    line-height: var(--md-typescale-title-large-line-height);
    letter-spacing: var(--md-typescale-title-large-letter-spacing);
}

.md-typescale-title-medium {
    font-family: var(--md-typescale-title-medium-font-family);
    font-weight: var(--md-typescale-title-medium-font-weight);
    font-size: var(--md-typescale-title-medium-font-size);
    line-height: var(--md-typescale-title-medium-line-height);
    letter-spacing: var(--md-typescale-title-medium-letter-spacing);
}

.md-typescale-title-small {
    font-family: var(--md-typescale-title-small-font-family);
    font-weight: var(--md-typescale-title-small-font-weight);
    font-size: var(--md-typescale-title-small-font-size);
    line-height: var(--md-typescale-title-small-line-height);
    letter-spacing: var(--md-typescale-title-small-letter-spacing);
}

.md-typescale-body-large {
    font-family: var(--md-typescale-body-large-font-family);
    font-weight: var(--md-typescale-body-large-font-weight);
    font-size: var(--md-typescale-body-large-font-size);
    line-height: var(--md-typescale-body-large-line-height);
    letter-spacing: var(--md-typescale-body-large-letter-spacing);
}

.md-typescale-body-medium {
    font-family: var(--md-typescale-body-medium-font-family);
    font-weight: var(--md-typescale-body-medium-font-weight);
    font-size: var(--md-typescale-body-medium-font-size);
    line-height: var(--md-typescale-body-medium-line-height);
    letter-spacing: var(--md-typescale-body-medium-letter-spacing);
}

.md-typescale-body-small {
    font-family: var(--md-typescale-body-small-font-family);
    font-weight: var(--md-typescale-body-small-font-weight);
    font-size: var(--md-typescale-body-small-font-size);
    line-height: var(--md-typescale-body-small-line-height);
    letter-spacing: var(--md-typescale-body-small-letter-spacing);
}

.md-typescale-label-large {
    font-family: var(--md-typescale-label-large-font-family);
    font-weight: var(--md-typescale-label-large-font-weight);
    font-size: var(--md-typescale-label-large-font-size);
    line-height: var(--md-typescale-label-large-line-height);
    letter-spacing: var(--md-typescale-label-large-letter-spacing);
}

.md-typescale-label-medium {
    font-family: var(--md-typescale-label-medium-font-family);
    font-weight: var(--md-typescale-label-medium-font-weight);
    font-size: var(--md-typescale-label-medium-font-size);
    line-height: var(--md-typescale-label-medium-line-height);
    letter-spacing: var(--md-typescale-label-medium-letter-spacing);
}

.md-typescale-label-small {
    font-family: var(--md-typescale-label-small-font-family);
    font-weight: var(--md-typescale-label-small-font-weight);
    font-size: var(--md-typescale-label-small-font-size);
    line-height: var(--md-typescale-label-small-line-height);
    letter-spacing: var(--md-typescale-label-small-letter-spacing);
}


/* Material Design 3 Design */

.container {
    background-color: var(--md-sys-color-surface-container);
}

.large-button:hover {
    background-color: var(--md-sys-color-surface-container-highest);
}

md-filled-tonal-button, md-filled-button {
    padding: 0px 24px;
}