.corner {
  --shape-radius-small: 8px;
  --shape-radius-medium: 12px;
  --shape-radius-large: 24px;
}

[shape="rectangle"] {
  border-radius: 0px;
}

[shape="semi-squircle"] {
  border-radius: var(--radius-small);
}

[shape="squircle"] {
  border-radius: var(--radius-medium);
}

[shape="rounded"] {
  border-radius: var(--radius-large);
}