<footer>
    <div id="horizontal-footer">

        <div id="footer-logo">
            <a href="https://sflightx.com"><img id="footer_logo" src="https://sflightx.com/resources/static/logo.png"
                    alt="sFlightX Logo" /></a>
            <p class="md-typescale-body-medium">SFlightX is not affiliated with Spaceflight Simulator or Juno:
                New
                Origins. This website is not affiliated with Space Exploration Technologies (SpaceX).</p>
            <p class="md-typescale-body-medium">© 2021-2025 SFlightX. All rights reserved.</p>
        </div>
        <div id="legal-link">
            <div id="icon-link">
                <a href="https://x.com/SFlightXJNO"><img
                        src="https://img.icons8.com/?size=100&id=Q33YQBzI2lZs&format=png&color=FFFFFF"
                        class="footer-link-img"></a>
                <a href="https://youtube.com/@sflightx"><img
                        src="https://img.icons8.com/?size=100&id=85162&format=png&color=FFFFFF"
                        class="footer-link-img"></a>
                <a href="https://facebook.com/sflightx"><img
                        src="https://img.icons8.com/?size=100&id=85126&format=png&color=FFFFFF"
                        class="footer-link-img"></a>
                <a href="https://bsky.app/profile/sflightx.com"><img
                        src="https://img.icons8.com/?size=100&id=MGqlXOe8ksH0&format=png&color=FFFFFF"
                        class="footer-link-img"></a>
                <a href="https://simplerockets.com/u/sflightx"><img
                        src="https://img.icons8.com/?size=100&id=COgXDnufRVRP&format=png&color=FFFFFF"
                        class="footer-link-img"></a>
            </div>
            <div class="text-link">
                <a href="https://sflightx.com/legal/terms" target="_self">Terms of Service</a>
                <a href="https://sflightx.com/legal/privacy" target="_self">Privacy Policy</a>
            </div>
        </div>

    </div>
</footer>