#grid[type~="auto"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 8px;
}

#grid[stat] {
  display: grid;
  gap: 16px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media screen and (min-width: 600px) {
  #grid[stat] {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  #grid[stat] {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

#grid > [child] {
    padding: 8px;
    min-width: 80px;
    width: 100%;
    min-height: 45px;
    border: 1px var(--md-sys-color-outlime-variant);
}