.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  width: auto;
  box-shadow: var(--elevation-low);
  color: var(--md-sys-color-on-surface);
}

.container img {
  width: 100%;
  border-radius: var(--radius-medium);
}

.container #content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container[enabled]:hover {
  background-color: var(--md-sys-color-surface-container-high);
}

.container,
.container:hover {
  background-color: var(--md-sys-color-surface-container);
}

.container[transparent] {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  
}

@media screen and (min-width: 601px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  .container #static {
    padding: 8px 16px;
  }
}