.container {
  max-width: 100%;
  width: auto;
  box-shadow: var(--elevation-low);
  color: var(--md-sys-color-on-surface);
}

.container img {
  width: 100%;
  border-radius: var(--radius-medium);
}

.container[enabled]:hover {
  background-color: var(--md-sys-color-surface-container-high);
}

.container,
.container:hover {
  background-color: var(--md-sys-color-surface-container);
}

.container[transparent] {
  background-color: rgba(0, 0, 0, 0);
}

.container[shape="rectangle"] {
  border-radius: 0px;
}

.container[shape="semi-squircle"] {
  border-radius: var(--radius-small);
}

.container[shape="squircle"] {
  border-radius: var(--radius-medium);
}

.container[shape="rounded"] {
  border-radius: var(--radius-large);
}

.container[offset~="top"] {
  margin-top: 8px;
}

.container[offset~="left"] {
  width: calc(100%-16px);
  margin-left: 8px;
}

.container[offset~="bottom"] {
  margin-bottom: 8px;
}

.container[offset~="right"] {
  width: calc(100%-16px);
  margin-right: 8px;
}

.container[offset~="horizontal"] {
  width: calc(100%-16px);
  margin-right: 8px;
  margin-left: 8px;
}

.container[offset~="vertical"] {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container[offset~="all"] {
  margin: 8px;
}

.container[indent~="top"] {
  padding-top: 16px;
}

.container[indent~="bottom"] {
  padding-bottom: 16px;
}

.container[indent~="left"] {
  padding-left: 16px;
}

.container[indent~="right"] {
  padding-right: 16px;
}

.container[indent~="horizontal"] {
  padding-left: 16px;
  padding-right: 16px;
}

.container[indent~="vertical"] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.container[indent~="all"] {
  padding: 16px;
}