p, h1, h2, h3, h4, h5, h6 {
    color: white;
    line-height: 1.5;
    margin: 20px 10vw;
    text-indent: 5vw;
    
}

.lead img {
    max-width: 100vw;
}

.menuImage {
    max-height: 75%;
    max-width: 15vw;
}

#feature-article-title {
    text-align: center;
}