[offset~="top"] {
  margin-top: 8px;
}

[offset~="left"] {
  width: calc(100%-16px);
  margin-left: 8px;
}

[offset~="bottom"] {
  margin-bottom: 8px;
}

[offset~="right"] {
  width: calc(100%-16px);
  margin-right: 8px;
}

[offset~="horizontal"] {
  width: calc(100%-16px);
  margin-right: 8px;
  margin-left: 8px;
}

[offset~="vertical"] {
  margin-top: 8px;
  margin-bottom: 8px;
}

[offset~="all"] {
  margin: 8px;
}